<div class="d-flex">
    <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="images/user_avatar.svg" />
                    <span id="UserFullname" class="text-white"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item disabled" href="#">Action 1</a></li>
                    <li><a class="dropdown-item disabled" href="#">Action 2</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#" id="LogoutButton">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>