ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
  }

  .quiz-section {
position: relative;
left: 0;
width: 100%;
display:flex;
justify-content: center;
align-items: center;
z-index: 100;
transition: .8s ease-in-out;
transition-delay: .25s;
  }

  .quiz-section .quiz-box{
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
  }

  .quiz-box h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg,transparent, gray, transparent) ;
    border-radius: 6px;
  }

  .quiz-box .quiz-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid black;
  }

  .quiz-header span{
    font-size: 18px;
    font-weight: 500;
  }

  .quiz-header .header-score{
    background: ;
    border-radius: 3px;
    padding: 7px;
  }

  .quiz-box .question-text{
    font-size:24px;
    font-weight: 600;
  }

  .option-list .option{
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
  }
  .option-list .option:hover{
    background: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
  }

.quiz-box .quiz-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px  solid black;
  padding-top: 20px;
  margin-top: ;
}

.quiz-footer .quiz-total{
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer .next-btn{
  width: 100px;
  height: 45px;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius:6px;
  font-size: 16px;
  color: rgba();
  cursor: pointer;
  transition: .5s;
}

.option-list .option:hover{
  background: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}